body{
  font-family: "Work Sans", sans-serif;
  background-color: #50727B;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #78A083;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  padding: 20px;
}

.header{
  display: flex;
  align-items: center;
}

img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h1{
font-weight: bold;
color: #fff;
}

button{
  background-color: #fff;
  cursor: pointer;
  width: 25px;
  border-radius: 5px;
}

input{
  border-radius: 5px;
}

#toDoContainer { 
  margin-top: 20px;
}

.strikethrough {
  text-decoration: line-through;
}


